<div class="banner">
    <div class="banner-image" style="background-image: url('https://images.unsplash.com/photo-1578664279548-eee4d985cb80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60')"></div>
    <div class="banner-text">
      <h1 class="blockquote"><em>What can I get you?</em></h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="cocktails-list">
        <div class="cards">
            <% @cocktails.each do |cocktail| %>
                <%= link_to cocktail_path(cocktail) do %>
                  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cocktail.image %>')">
                    <%= cocktail.name %>
                  </div>
                <% end %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





