<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-container">
        <div class="add-form">
          <h2>Create your cocktail</h2>
          <%= simple_form_for (@cocktail) do |f| %>
            <%= f.input :name%>
            <%= f.input :photo, as: :file %>
            <%= f.submit %>
          <% end %>
        </div>    
      </div>
    </div>
  </div>
</div>
