.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  flex-grow: 1;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 1px;
}

.card-category-last {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 1px;
  border: 1px solid white;
}


.cocktail-card {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  border-radius: 4px;
  position: relative;
}

.close-cross {
  position: absolute;
  right: 10px;
}

.cocktail-card-image {
  height: 500px;
  width: 40%;
  background-size: cover;
  background-position: center;
}

.cocktail-card-details-container {
  width: 60%;
  padding: 40px;
  display: flex;
  align-items: center;
}

.cocktail-card-details {
  // border: 1px solid $white;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  flex-direction: column
}

h2 {
  font-size: 32px;
  font-weight: 200;
}

h4 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
  font-weight: 100;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
}